<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
		
	{% load drealtimetags %}
	{% ishout_js %}
	<script type="text/javascript">
	
	ishout.on('bm_chanel', function(data){
		
		alert(data.msg);
	});
	
	ishout.init();


	

	</script>



</head>
<body>


<h1> Dashboard</h1>

{{message}}

{%for user in users%}

{{user}}<a href="/alert/?user={{user.id}}"> Alert (Hello)</a><br/>

{%empty%}

<b> No users found</b>


{%endfor%}
</body>
</html>


